PORT=4000
DATABASE_URL="postgresql://postgres.wdzcvpnvxwhxmnzydipf:internshala_assignment@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.wdzcvpnvxwhxmnzydipf:internshala_assignment@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"

